bittensor>=6.8.0
loguru>=0.7.0
numpy>=1.26.4
pandas>=2.2.0
pydantic>=1.10.14
pytz>=2024.1
rich>=13.7.0
scikit_learn>=1.4.1.post1
setuptools>=59.6.0
setuptools>=69.1.0
starlette>=0.37.1
ta>=0.11.0
template>=0.7.6
tensorflow>=2.15.0.post1
torch>=2.2.0
transformers>=4.38.1
yfinance>=0.2.36
